main.root {
  align-items: center;
  background: #19A1AE;
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-top.svg");
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
